<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav style="background-color:rgb(100, 119, 119);padding:50px;font-family: monospace;color:black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'welcome' %}" style="color:black;"><strong>HOME</strong></a>
      
    </div>
 
  <!--The search form above-->
  <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Account</strong>
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'welcome'%}"><strong>Home</strong></a>
              </li>
              <li>
                <a href="{%url 'myProfile' user.id%}"><strong>View Profile</strong></a>
              </li>
              <li>
                  <a href="{%url 'profile'%}"><strong>Add Profile</strong></a>
                </li>
              <li>
                <a href="/accounts/password/change"><strong>Change Password</strong></a>
              </li>
              <li>
                <a href="/logout"><strong>Logout</strong></a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login"><strong>Login</strong></a>
        </li>

        {% endif %}
      </div>

      <div class="nav navbar-nav navbar-right">

          <button class="well"><a href="{%url 'image'%}"   style="text-align: center;padding-left:50px;font-family: monospace;color:black;"><strong>ADD IMAGE</strong></a></button>
   
         </div>
    </div>  

    <h1 style="background-color:rgb(55, 66, 66);padding:50px;font-family: monospace;text-align:center;opacity: 0.8;">I N S T A G</h1>
</nav>
</body>
</html>